
@{
    ViewData["Title"] = "BMICalculator";
}
<header>
<h1>BMICalculator</h1>
<h2>by Jamie Chopra</h2>
</header>
<section>
    <form method="post">
        <h3>Height</h3>
        <p>
            Please enter your height using metric or imperial units.
        </p>
        <p>
            <input type="number" placeholder="Feet" value="" />
            <input type="number" placeholder="Inches" value="">
        </p>
        <p>
            <input type="number" placeholder="Centimetres" value="">
        </p>

        <h3>Weight</h3>
        <p>
            Please enter your weight using metric or imperial units.
        </p>
        <p>
            <input type="number" placeholder="Stone" value="" />
            <input type="number" placeholder="Pounds" value="" />
        </p>
        <p>
            <input type="number" placeholder="Kilograms" value="">
        </p>

        <p>
            <button class="btn btn-success" type="submit">Calculate</button>
        </p>

</section>