@model IEnumerable<WebApps.Models.Student>
@{
    ViewData["Title"] = "StudentMarks";
}
<header class="text-center jumbotron justify-content-center">

    <h1>Student Marks</h1>

    <h2>by Jamie Chopra</h2>

    <p>
        This application will allow you to input a student
        add their marks and edit their marks.
    </p>

</header>

